/**
 * Copyright © 2018-2021 David Thompson <davet@gnu.org>
 * Copyright © 2023-2024 Giacomo Leidi <goodoldpaul@autistici.org>
 * */

:root {
    --global-font-size: 15px;
    --global-space: 0.45em;
    --global-line-height: 1.4em;
    --font-stack: Fira Sans,sans-serif;
    --input-style: solid;
}

body {
    --background-color: #fff;
    --font-color: #151515;
    --invert-font-color: #fff;
    --primary-color: #1a95e0;
    --secondary-color: #727578;
    --error-color: #d20962;
    --progress-bar-background: #727578;
    --progress-bar-fill: #151515;
    --code-bg-color: #e8eff2;
    --syntax-string-color: #6a1bab;
}

body[data-theme="dark"] {
    --background-color: #222225;
    --font-color: #e8e9ed;
    --invert-font-color: #222225;
    --primary-color: #62c4ff;
    --secondary-color: #a3abba;
    --error-color: #ff3c74;
    --progress-bar-background: #3f3f44;
    --progress-bar-fill: #62c4ff;
    --code-bg-color: #3f3f44;
    --syntax-string-color: #95e454;
}

/* Make code blocks not wrap and be horizontally scrollable */
pre {
    overflow-x: scroll;
    white-space: pre;
}

code {
    --font-stack: Fira Code, monospace;
}

.copyright {
    text-align: center;
}

.cc-button {
    margin-left: 1rem;
}

.mobilehr {
    display: none;
}

/* Blog post */
.tags {
  margin-top: initial;
  margin-bottom: initial;
  display: inline; /* Moving the list items onto one line */
  list-style: none; /* Removing the bullet overlap */
  padding: 0px; /* Remove the general <ul> padding */

  /* Reset Terminal CSS style */
  li::after {
    position: initial;
    top: initial;
    left: initial;
    content: "";
  }

  li {
    position: initial;
    display: inline;
    padding-left: initial;
    /* Target every list item besides the last one */
    &:not(:last-child) {
      &:after {
        content: ", ";
        margin-right: .1em;
      }
    }
  }
}

/* Syntax highlighting */
.syntax-special, .syntax-element {
    color: var(--primary-color);
    font-weight: bold;
}

.syntax-symbol {
    color: var(--font-color);;
}

.syntax-string {
    color: var(--syntax-string-color);
}

.syntax-keyword, .syntax-attribute {
    color: #e5786d;
}

.syntax-comment {
    color: #999;
}

.syntax-open, .syntax-close {
    color: #00768b;
}

/* Mediaquery */
@media screen and (max-width: 640px) {
    .mobilehr {
        display: revert;
    }
}
